body {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(7, 1, 1);
  background-color: #ffffff;
}
header {
  background: rgba(46, 47, 66, 1);
}
footer {
  background: rgba(46, 47, 66, 1);
}
a {
  text-decoration: none;
}
