body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
header {
  background: #ffffff;
}
footer {
  background: rgba(46, 47, 66, 1);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.logo {
  /*    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; */
  line-height: 1.17;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}
.logo2 {
  color: #2e2f42;
}
.logolink {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.logolink:hover {
  color: #404bbf;
}
.logolink:focus {
  color: #404bbf;
}
.adress {
  /*
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; */

  font-style: normal;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
}
.adress:hover {
  color: #404bbf;
}
.adress:focus {
  color: #404bbf;
}
.esfyb {
  padding-top: 30px;
  background-color: #2e2f42;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #4d5ae5;
}
.esfybtxt {
  /*
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff; */
  line-height: 1.07;
  color: #ffffff;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.esfybbutton {
  /*
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer; */
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  cursor: pointer;
}
.esfybbutton:hover {
  background-color: #404bbf;
}
.esfybbutton:focus {
  background-color: #404bbf;
}
.nullseen {
  /*    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; */
  color: #2e2f42;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.nullseenp {
  /*    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; */
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.secthree {
  background-color: #f4f4fd;
}
.otm {
  /*   font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize */
  line-height: 1.11;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.liststhree {
  background-color: #ffffff;
}
.listh {
  /*    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;*/

  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.limg {
  /*    font-size: 36px;
    line-height: 1.11;*/

  line-height: 1.11;
  font-family: Roboto;
  line-height: 1.11;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}
.limgp {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logothree {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}
.footp {
  /*    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em; */
  line-height: 1.5;
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.items {
  /*    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; */

  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}
.itemsp {
  /*    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
/*
.some {
    display: flex;
    align-items: center;
}
.some li {
    margin: 0 1rem;
}
.cot {
    display: flex;
    align-items: center;
}
.cot li {
    margin: 0 1rem;
}
*/
